%ul#notes-list
%ul#new-notes-list
.notes-status

- if can? current_user, :write_note, @project
  = render "notes/common_form"

- content_for :script_on_load do
  :plain
    NoteList.init("#{tid}", "#{tt}", "#{project_notes_path(@project)}");
